<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Photo Gallery</title>
  <meta name="viewport" content="width=device-width, 
      minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="/static/plugins/bootstrap/css/bootstrap.min.css" 
      rel="stylesheet" type="text/css" />
  <link href="/static/plugins/font-awesome/css/font-awesome.min.css" 
        rel="stylesheet" type="text/css" />
  <link href="/static/plugins/themify/themify.css" 
        rel="stylesheet" type="text/css" />
  <link href="/static/plugins/cubeportfolio/css/cubeportfolio.min.css" 
        rel="stylesheet" type="text/css" />
  <link href="/static/css/global.css" rel="stylesheet" type="text/css"/>
  <script type="text/javascript" src="/static/plugins/jquery.min.js">
  </script>
  <script>
        function login($this) {
            var val = $this.previousElementSibling.value;
            if (val == '') {
                alert("incorrect");
            } else if (val == 'password') {
                location.href = 'home.html';
            } else {
                alert("incorrect");
            }
        }
  </script>
</head>

<body>
  <div class="wrapper">
    <div class="bg-color-sky-light">
      <br>
      <center>
        <h2>Photo Gallery</h2>
        <div class="input-group mb-3">
            
            <input type="password" class="form-control" placeholder="password" aria-label="Recipient's username" aria-describedby="basic-addon2">
          
            <button class="btn btn-primary" type="submit" onclick="login(this)">Login</button>
        </div>
        <br>
        
    </div>
  </div>
  <script type="text/javascript" 
    src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" 
    src="/static/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js">
  </script>
  <script type="text/javascript" 
    src="/static/scripts/app.js"></script>
  <script type="text/javascript" 
    src="/static/scripts/portfolio/portfolio-4-col-grid.js"></script>
</body>
</html>